<template>
    <section>
        <div class="login-page">
            <header-logo class="header"></header-logo>
            <div class="left-side">
                <div class="wrapper">
                    <i class="icon-close-icon"></i>
                    <div class="image-container"></div>
                </div>
            </div>

            <div class="right-side">
                <div class="wrapper">
                    <login-form @checkUser="loginUser"></login-form>
                    <footer-general :joinTitle="true" class="footer"></footer-general>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import HeaderLogo from '../components/generals/header-logo';
    import LoginForm from '../components/login/login-form';
    import FooterGeneral from "../components/generals/footer-general";
    import {USER_LOGIN} from "../store/const/user"
    export default {
        name: "login-page",
        methods: {
            loginUser($event) {
                this.$store.dispatch(USER_LOGIN, $event);
                this.$router.push('/welcome');
            }
        },
        components: {
            FooterGeneral,
            LoginForm,
            HeaderLogo
        }
    }
</script>

<style scoped lang="scss">
    .login-page {
        height: 100vh;
        display: flex;
        position: relative;
        width: 100%;

        .header {
            position: absolute;
            top: 38px;
            right: 86.48px;
        }

        .left-side {
            width: 50%;
            height: 100%;
            background-color: $lightPink;

            @include tablet {
                width: 0;
            }

            .wrapper {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .icon-close-icon {
                    font-size: 28px;
                    color: $xColor;
                    position: absolute;
                    top: 40px;
                    left: 40px;

                    @include laptop{
                        font-size: 16px;
                    }
                }

                /*i know the size are not like in the design instructions, I found it more right for the provided asset*/
                .image-container {
                    height: 780px;
                    width: 780px;
                    background-image: url("../assets/images/green_login_page.svg");
                    background-size: cover;

                    @include laptop {
                        height: 360px;
                        width: 356px;

                    }
                }
            }
        }

        .right-side {
            background-color: $pureWhite;
            width: 50%;
            display: flex;
            justify-content: center;

            @include tablet {
                width: 100%;
            }

            .wrapper {
                max-width: 417px;
                justify-items: center;
                flex-direction: column;
                justify-content: center;
                display: flex;
                position: relative;

                @include laptop{
                    max-width: unset;
                }

                .footer {
                    position: absolute;
                    bottom: 36px;
                    right: 0;
                    width: 100%;
                }
            }
        }
    }
</style>