<template>
    <section v-if="loggedUser">
        <nav-bar></nav-bar>
        <page-title :title="title"></page-title>
        <div class="wrapper">
            <div class="left-side">
                <div class="business-details">
                    <div v-for="business in loggedUser.businesses" :key="business.id" class="business">
                        <div class="image" v-if="business.logo" :style="{backgroundImage: `url(${business.logo})`}"></div>
                        <img src="../assets/images/business-img.png" class="image" v-if="!business.logo" alt="business-default-img"/>
                        <ul class="details">
                            <li class="item" v-if="business.nameEn">
                                <p class="text subtitle">:שם העסק</p>
                                <p class="text">{{business.nameEn}} ({{business.name}})</p>
                            </li>
                            <li class="item" v-if="business.cityEn">
                                <p class="text subtitle">:כתובת</p>
                                <p class="text">{{business.cityEn}} {{business.addressEn}}</p>
                            </li>
                            <li class="item" v-if="business.phone">
                                <p class="text subtitle">טלפון:</p>
                                <p class="text">{{business.phone}}}</p>
                            </li>
                            <li class="item" v-if="business.website">
                                <p class="text subtitle">אתר:</p>
                                <p class="text">{{business.website}}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="user-info">
                    <div class="user-image" v-if="loggedUser.picture" :style="{backgroundImage: `url(${loggedUser.picture})`}"></div>
                    <img src="../assets/images/avatar.jpg" class="default-image" v-if="!loggedUser.picture" alt="avatar" />
                    <div class="name-email">
                        <p class="text">{{loggedUser.firstName}} {{loggedUser.lastName}}</p>
                        <p class="text">{{loggedUser.email}}</p>
                    </div>
                </div>
                <ul class="user-list-details">
                    <li class="item" v-if="loggedUser.signUpDate">
                        <p class="text">הצטרף בתאריך: {{signedInDate}}</p>
                    </li>
                    <li class="item">
                        <p class="text">מספר עסקים פעילים: {{loggedUser.activeBusinessCount}}</p>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <footer-general></footer-general>
            </div>
        </div>
    </section>
</template>

<script>
    import NavBar from '../components/generals/nav-bar';
    import PageTitle from '../components/generals/page-title';
    import FooterGeneral from '../components/generals/footer-general';
    import {MonthList} from './const/date-const.js'
    export default {
        name: "user-profile",
        data() {
            return {
                title: 'פרופיל משתמש'
            }
        },
        computed: {
            loggedUser() {
                return this.$store.getters.getUser;
            },
            signedInDate() {
                if (this.loggedUser.signUpDate) {
                    const date = new Date(this.loggedUser.signUpDate);
                    const formatDay = {
                        date: date.getDate(),
                        month: MonthList[date.getMonth()+1],
                        year: date.getFullYear()
                    };
                    return formatDay.date + ' ' + formatDay.month + ' ' +  formatDay.year
                } else {
                    return 'לא ידוע'
                }
            }
        },
        components: {
            NavBar,
            PageTitle,
            FooterGeneral
        }
    }
</script>

<style scoped lang="scss">
    .wrapper {
        min-height: calc(100vh - 200px);
        display: flex;
        position: relative;

        @include tablet {
            padding: 0 16px;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-end;
        }

        .right-side {
            width: 50%;
            height: 100%;

            @include tablet {
                width: unset;
            }

            @include phone {
                width: 100%;
            }

            .user-info {
                display: flex;
                flex-direction: row-reverse;
                height: 120px;
                align-items: center;
                padding: 20px;

                @include tablet {
                    height: 70px;
                    padding: 12px;
                }

                .user-image {
                    width: 80px;
                    height: 80px;
                    background-size: cover;
                    border-radius: 99px;
                    margin-left: 24px;

                    @include tablet {
                        width: 60px;
                        height: 60px;
                    }
                }

                .default-image {
                    width: 80px;
                    height: 80px;
                    margin-left: 24px;

                    @include tablet {
                        width: 60px;
                        height: 60px;
                    }
                }

                .name-email {
                    display: flex;
                    flex-direction: column;
                }
            }

            .user-list-details {
                padding-right: 20px;

                @include tablet {
                    margin: 0;
                    padding: 0;
                }

                .item {
                    list-style: none;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    @include phone {
                        height: unset;
                    }
                }
            }
        }

        .left-side {
            width: 50%;
            height: 100%;

            @include tablet {
                width: unset;
            }

            @include phone {
                width: 100%;
            }

            .business-details {
                border: 2px solid $greenColor;
                width: 80%;
                border-radius: 5px;
                margin: 20px;

                @include tablet {
                    width: 90%;
                }

                .business {
                    display: flex;
                    align-items: center;
                    padding: 16px;
                    justify-content: space-around;

                    .image {
                        background-size: cover;
                        width: 100px;
                        height: 100px;

                        @include phone {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .details {
                        @include tablet {
                            margin: 0;
                            padding: 0;
                        }

                        .item {
                            height: 50px;
                            list-style: none;
                            margin-bottom: 18px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .subtitle {
                                margin-bottom: 8px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
</style>