<template>
    <section v-if="loggedUser">
        <nav-bar></nav-bar>
        <div class="welcome">
            <div class="wrapper">
                <div class="top">
                    <div class="top-image"></div>
                    <p class="text headline-small">Hello {{loggedUser.firstName}} And Welcome to {{firstBusinesses.name}}!</p>
                    <button class="btn large blue" @click="viewProfile">
                        עבור לפרופיל האישי
                    </button>
                </div>
                <div class="bottom">
                    <footer-general :joinTitle ="false"></footer-general>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import FooterGeneral from "../components/generals/footer-general";
    import NavBar from '../components/generals/nav-bar';
    export default {
        name: "welcome-page",
        computed: {
            loggedUser() {
                return this.$store.getters.getUser;
            },
            firstBusinesses() {
                return this.$store.getters.getUser.businesses[0];
            }
        },
        methods: {
            viewProfile(){
                const url = '/profile/' + this.loggedUser.id;
                this.$router.push(url)
            }
        },
        components: { FooterGeneral, NavBar}
    }
</script>

<style scoped lang="scss">
    .welcome {
        width: 100%;
        min-height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            width: 90%;
            border: 5px solid #65da84;
            border-radius: 20px;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            position: relative;

            @include laptop {
                width: unset;
            }

            @include phone {
                width: 60%;
            }

            .top {
                display: flex;
                flex-direction: column;
                align-items: center;

                .log-out {
                    position: absolute;
                    right: 20px;
                }

                .top-image {
                    background-image: url("../assets/images/welcome-page.jpg");
                    border-radius: 99px;
                    width: 240px;
                    height: 240px;
                    background-size: cover;

                    @include laptop {
                        width: 130px;
                        height: 130px;

                    }
                }

                .headline-small {
                    margin: 20px 0 40px 0;

                    @include phone {
                        margin: 20px 0;
                    }
                }

                .btn {
                    margin-bottom: 40px;
                }
            }
        }
    }
</style>