@import "mixin";

.btn {
  height: 56px;
  border: none;
  outline: none;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;

  @include laptop {
    font-size: 14px;
    height: 45px;
  }

  @include phone {
    font-size: 12px;
    height: 32px;
  }

  &.medium {
    width: 172px;

    @include laptop {
      width: 152px;
    }
  }

  &.large {
    width: 228px;

    @include laptop {
      width: 200px;
    }
  }

  &.green {
    border: 1px solid $greenColor;
    color: $greenColor;
    background-color: $pureWhite;
  }

  &.white {
    background-color: $pureWhite;
    border: 1px solid $titleColor;
    color: $titleColor;
  }

  &.blue {
    background-color: $titleColor;
    color: $pureWhite;
  }
}