$lightPink: rgb(255,220,220);
$lightGreen: rgb(124, 207, 175);
$pureWhite: rgb(255,255,255);
$lightGrey: rgb(241, 243, 244);
$titleColor: rgb(79, 104, 236);
$fontColor: rgb(95, 119, 135);
$iconColor: rgb(35, 68, 90);
$greenColor: rgb(101, 218, 132);
$xColor: rgb(128, 134, 139);