@import "media-query";

@mixin phone {
  @media screen and (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}