@import "mixin";

.text {
  margin: 0;
  text-align: right;
  font-size: 18px;

  @include laptop {
    font-size: 16px;
  }

  @include phone {
    font-size: 14px;
  }

  &.headline {
    color: $titleColor;
    font-size: 56px;
    font-weight: bold;
    line-height: 48px;
    text-align: right;

    @include laptop {
      font-size: 32px;
    }

    @include phone {
      font-size: 24px;
    }
  }

  &.headline-small {
    color: $lightGreen;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    text-align: right;

    @include laptop {
      font-size: 32px;
    }

    @include phone {
      font-size: 24px;
      line-height: unset;
    }
  }

  &.bold {
    font-weight: bold;
  }

  &.subtitle {
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-align: right;
    color: $lightGreen;
  }

  &.small-text {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-align: right;

    @include phone {
      font-size: 10px;
    }
  }

  &.green {
    color: $greenColor;
  }

  &.underline {
    text-decoration: underline;
    cursor: pointer;
  }
}