@font-face {
  font-family: 'icomoon';
  src:  url('../../src/assets/fonts/iconmoon/icomoon.eot?9f8315');
  src:  url('../../src/assets/fonts/iconmoon/icomoon.eot?9f8315#iefix') format('embedded-opentype'),
    url('../../src/assets/fonts/iconmoon/icomoon.ttf?9f8315') format('truetype'),
    url('../../src/assets/fonts/iconmoon/icomoon.woff?9f8315') format('woff'),
    url('../../src/assets/fonts/iconmoon/icomoon.svg?9f8315#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e901";
}
.icon-close-icon:before {
  content: "\e902";
}
.icon-three-dots:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-bin-light:before {
  content: "\e9ac";
}
.icon-bin:before {
  content: "\e9ad";
}
