<template>
    <section>
        <div class="wrapper">
            <div class="header">
                <p class="text headline">התחברות לחשבונית ירוקה</p>
            </div>
            <div class="form">
                <div class="input-label-wrapper email">
                    <input required type="text" v-model="user.email" :placeholder="emailInputData.placeholder" @focus="focusInput"/>
                    <label class="text label">{{emailInputData.description}}</label>
                </div>
                <div class="input-label-wrapper password">
                    <input required type="password" v-model="user.password" :placeholder="passwordInputData.placeholder" @focus="focusInput"/>
                    <label class="text label underline">{{passwordInputData.description}}</label>
                </div>
            </div>
            <div class="submit">
                <button class="btn white medium">
                    <img src="../../assets/images/google_G.svg" class="google-symbol" alt="google-symbol" />
                    כניסה עם גוגל
                </button>
                <button class="btn blue large" @click="checkUserEmitter">כניסה</button>
            </div>
        </div>

    </section>
</template>

<script>
    import {NAME_INPUT_DATA, PASSWORD_INPUT_DATA} from './const/input-data';
    export default {
        name: "login-form",
        data() {
            return {
                user: {email: '', password: ''},
                emailInputData: NAME_INPUT_DATA,
                passwordInputData: PASSWORD_INPUT_DATA
            }
        },
        methods: {
            checkUserEmitter() {
                if(this.user.email !== '') {
                    this.$emit('checkUser', this.user)
                }
            },
            focusInput() {}
        }
    }
</script>

<style scoped lang="scss">
    .wrapper {
        .header {
            margin-bottom: 127px;

            @include laptop {
                margin-bottom: 24px;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 184px;
            width: 417px;

            @include laptop {
                width: unset;
            }

            .input-label-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                &.email {
                    .label {
                        margin-top: 10.5px;
                    }

                    input {
                        ::placeholder{
                            padding-bottom: 16px;
                        }
                    }
                }

                &.password {
                    .label{
                        margin-top: 17.5px;
                    }

                    input {
                        ::placeholder{
                            padding-bottom: 9px;
                        }
                    }
                }

                input {
                    border: none;
                    border-bottom: 1px solid $iconColor;
                    text-align: right;
                    outline: none;
                    height: 34px;
                    width: 100%;
                    font-size: 16px;

                    @include phone {
                        font-size: 14px;
                    }

                    &::placeholder {
                        color: $iconColor;
                        line-height: 19px;
                        text-align: right;
                        font-size: inherit;
                    }
                }
            }
        }

        .submit {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 81px;

            .btn {
                display: flex;
                align-items: center;

                &.large {
                    @include laptop {
                        margin-left: 20px;
                    }

                    @include phone {
                        margin-top: 16px;
                    }
                }
            }

            .google-symbol {
                height: 24px;
                margin-right: 11.48px;

                @include laptop {
                    height: 18px;
                    margin-right: 8px;
                }
            }

            @include phone {
                margin-top: 20px;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
</style>