<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss">
  body {
    box-sizing: border-box;
    margin: 0 auto 0 auto;
  }
</style>
