<template>
    <section>
        <div class="footer">
            <div class="upper-row">
                <p class="text small-text">חשבונית ירוקה © 2019</p>
                <img src="../../assets/images/green_leaf.svg" class="leaf"/>
            </div>
            <div class="lower-row">
                <p class="text small-text">
                    הפקת חשבוניות ומסמכים עסקיים באינטרנט
                </p>
                <p class="text small-text underline green" v-if="joinTitle">
                    להצטרפות חינם
                </p>
            </div>
        </div>
    </section>

</template>

<script>
    export default {
        props: ['joinTitle'],
        name: "footer-general"
    }
</script>

<style scoped lang="scss">

    .footer {
        .upper-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            justify-content: flex-end;
        }

        .leaf {
            height: 16px;
            width: 13px;
            margin-left: 7px;
        }

        .lower-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
</style>