<template>
    <section class="header">
        <img class="green-logo" src="../../assets/images/green_logo.svg" alt="green-logo"/>
    </section>
</template>

<script>
    export default {
        name: "header-logo"
    }
</script>

<style scoped lang="scss">

    .header {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .green-logo {
            height: 34px;
            width: 221px;

            @include laptop {
                height: 24px;
                width: 156px;
            }
        }
    }
</style>