<template>
    <section class="nav">
        <button class="btn medium green" @click="logout">יציאה</button>
        <img src="../../assets/images/green_logo.svg" alt="logo" class="logo" @click="passToWelcomePage"/>
    </section>
</template>

<script>
    import {USER_LOGOUT} from "../../store/const/user";
    export default {
        name: "nav-bar",
        methods: {
            logout() {
                this.$store.dispatch(USER_LOGOUT);
                this.$router.push('/login');
            },
            passToWelcomePage() {
                const path = this.$route.path;
                if (this.$route.path !== '/welcome') {
                    this.$router.push('/welcome')
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .nav {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lightGrey;

        .logo {
            cursor: pointer;

            @include laptop {
                width: 200px;
            }

            @include phone {
                width: 100px;
            }
        }

        .btn {
            &.medium {
                @include phone {
                    width: 100px;
                }
            }
        }
    }
</style>