<template>
    <section class="header">
        <p class="text subtitle bold">{{title}}</p>
    </section>
</template>

<script>
    export default {
        name: "page-title",
        props : {
            title: String
        }
    }
</script>

<style lang="scss" scoped>
    .header {
        padding: 20px;

        @include tablet {
            padding: 10px;
        }
    }
</style>